@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: auto;
}
/* similar contents esign */
section{
    padding: 100px 0;
}
.width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .projects, .skills, .contact, footer{
    font-family: 'Source Sans Pro', sans-serif;
}
.about .abt-content,
.projects .proj-content,
.skills .skl-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .titl-cont{
    position: relative;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
/* navbar design */
.nav{
    background-color: black;
    position: relative;
    width: 100%;
    z-index: 999;
    padding: 40px 0;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 0.5s;
}
.nav .width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .logo a{
    color: rgb(179, 119, 131);
    font-size: 35px;
    font-weight: 600; 
}
.nav .nav-menu li{
    list-style:lower-alpha;
    display: inline-block;
}
.nav .nav-menu li a{
    display: block;
    color: rgb(179, 119, 131);
    font-size: 20px;
    font-weight: 600;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.nav .nav-menu li a:hover{
    color: rgb(255, 251, 252);
}
/* navbar-menu button design */
.nav-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(179, 119, 131);
    right: 20px;
    bottom: 15px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
} 
/* home page design */
.home{
    display:flex;
    background: url("images/sunbeam-photography-rthxdhNw06M-unsplash.jpg") no-repeat center;
    height: 100vh;
    color: rgb(255, 253, 253);
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed; 
    font-family: 'Source Sans Pro', sans-serif;
}
.home .width{
  width: 100%;
  display: flex;
}
.home .width .row{
  margin-right: 0;
} 
.hm-content{ 
  margin: auto;
  width: 50%;
  padding: 10px;
}
.home .hm-content .hm-heading1{
    font-size: 70px;
}
.home .hm-content .hm-heading2{
    font-size: 80px;
    font-weight: 600;
    margin-left: -3px; 
}
.home .hm-content .hm-heading3{
    font-size: 45px;    
}
.home .hm-content .hm-heading3 span{
    color: rgb(179, 119, 131);
}
.about .abt-content .left{
    width: 45%;
}
.about .abt-content .left img{
    height: 450px;
    width:  450px;
    object-fit: cover;
    border-radius: 200px;
}
.about .abt-content .right{
    width: 55%;
}
.about .abt-content .right p{
    text-align: justify;
    font-size: 20px;
    font-weight: 200;
}
.about .abt-content .right ul{
    position: relative;
    left: 50px;
}
.about .abt-content .right a{
    display: inline-block;
    background: #64991e;
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid green; 
    transition: all 0.4s ease;
}
.about .abt-content .right a:hover{
    color: #507a18;
    background: none;
}

/* projects design */
.projects{
    color:#fff;
    background: #111;
}
.projects .proj-content .proj-card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.4s ease;
}
.projects .proj-content .proj-card .proj-box{
    transition: all 0.5s ease;
}
.projects .proj-content .proj-card .proj-box .p a{
   color: rgb(183, 220, 20);
}
.projects .proj-content .proj-card .proj-box .p a:hover{
    color: rgb(249, 250, 245);
 }
.projects .proj-content .proj-card:hover .proj-box{
    transform: scale(1.05);
}
.projects .proj-content .proj-card i{
    font-size: 50px;
    color: rgb(183, 220, 20);
    transition: color 0.3s ease;
}
.projects .proj-content .proj-card:hover i{
    color: rgb(243, 240, 240);
}
.projects .proj-content .proj-card .text{
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0 7px 0;
}
.skills .skl-content .columnn{
    width: calc(50% - 30px);
}
.skills .skl-content {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}
.skills .skl-content {
    text-align: justify;
}
.skills .skl-content  a{
    display: inline-block;
    background: rgb(128, 20, 38);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 1px solid rgb(139, 7, 33);
    transition: all 0.3s ease;
}
table, th, td {
    text-align: justify;
    border: 1px solid black;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  table{
      
    position: relative;
    right: -150px;
}
th, td {
    border-color: #be2424;
}  
.skills .skl-content .right .bars{
    margin-bottom: 15px;
}
.skills .skl-content .right .skill-info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skl-content .right span{
    font-weight: 700;
    font-size: 18px;
}
.skills .skl-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skl-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(183, 220, 20);
}
.skl-content .right .html-css::before{
    width: 90%;
}
.skl-content .right .aws::before{
    width: 80%;
}
.skl-content .right .react::before{
    width: 70%;
}
.skl-content .right .node::before{
    width: 60%;
}
.skl-content .right .sql::before{
    width: 70%;
}
.contact .contact-content .columnn{
    width: calc(60% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .cnt-icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .cnt-txt{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: rgb(183, 220, 20);
}
.contact .contact-content .cnt-txt .cnt-heading{
    font-weight: 500;
}
.contact .contact-content .cnt-txt .sb-tit{
    color: #333;
}
.contact .right form .cnt-email{
    display: flex;
}
.contact .right form .field,
.contact .right form .cnt-email .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .cnt-button{
  display: flex;
  align-items: center;
}
.right form .cnt-button button{
  color: #fff;
  display: block;
  width: 160px;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #64991e;
  transition: all 0.3s ease;
}
.right form .cnt-button button:hover{
  color: #507a18;
  background: none;
}
/* footer sdesign */
footer{
    background: #111;
    padding: 25px 30px;
    color: #fff;
    text-align: center;
}

/* responsive media query */
@media (max-width: 1104px) {
    .about .abt-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .nav-btn{
        display: block;
        z-index: 999;
    }
    .nav-btn i.active:before{
        content: "\f00d";
    }
    .nav .nav-menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.4s ease;
    }
    .nav .nav-menu.active{
        left: 0;
    }
    .nav .nav-menu li{
        display: block;
    }
    .nav .nav-menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 20px;
    }
    .home .hm-content .hm-heading2{
        font-size: 70px;
    }
    .home .hm-content .hm-heading3{
        font-size: 35px;
    }
    .home .hm-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .width{
        max-width: 930px;
    }
    .about .abt-content .columnn{
        width: 100%;
    }
    .about .abt-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .abt-content .right{
        flex: 100%;
    }
    .projects .proj-content .proj-card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skl-content .columnn,
    .contact .contact-content .columnn{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .width{
        padding: 0 23px;
    }
    .home .hm-content .hm-heading2{
        font-size: 60px;
    }
    .home .hm-content .hm-heading3{
        font-size: 32px;
    }
    .home .hm-content a{
        font-size: 20px;
    }
    .projects .proj-content .proj-card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .hm-content .hm-heading2{
        font-size: 50px;
    }
    .home .hm-content .hm-heading3{
        font-size: 27px;
    }
    .about .abt-content .right .text,
    .skills .skl-content .left .text{
        font-size: 19px;
    }
    .contact .right form .cnt-email{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
}
